<div class="mt-4">
    <div class="row">
        <div class="col-lg-9">
            <h2 class="mb-3">{{course.name}}</h2>   
            <iframe width="640" height="480" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="description">{{course.description}}</div>
        </div>

        <div class="col-lg-3">
            <h2>Ben phai nay chua thong tin</h2>
            
        </div>
        
    </div>
</div>